[Desktop Entry]
Version=1.0
Name=Alternatives Configurator
Name[cs]=Nastavení alternativ
Name[de]=Alternativeneinrichter
Name[es]=Configurador de alternativas
Name[fr]=Configurateur d'alternatives
Name[pt_BR]=Configurador de Alternativas
Name[sv]=Alternativkonfiguratorn
Name[zh_CN]=可选项配置工具
Comment=Configure the system default alternatives
Comment[cs]=Nastaví výchozí alternativy pro celý systém
Comment[de]=Die Standard-Alternativen des Systems einrichten.
Comment[es]=Configurar las alternativas por defecto del sistema
Comment[fr]=Configuration des alternatives par défaut du système
Comment[pt_BR]=Configure as alternativas padrão do sistema
Comment[sv]=Konfigurera systemets standardalternativ
Comment[zh_CN]=配置系统可选项的默认值
Type=Application
Exec=/usr/sbin/galternatives
Icon=galternatives
Terminal=false
Categories=Settings;GTK;System;
StartupNotify=true
