[Desktop Entry]
Encoding=UTF-8
Name=X Terminal Emulator
Comment=Default Terminal Emulator to use when running text-based applications, mainly from the Debian menu.
Type=Application
Icon=x-terminal-emulator
