Source: galternatives
Section: admin
Priority: optional
Maintainer: Debian Chinese Team <chinese-developers@lists.alioth.debian.org>
Uploaders:
 Boyuan Yang <byang@debian.org>,
 Yangfl <mmyangfl@gmail.com>,
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 gir1.2-gdk-3.0,
 intltool,
 python3,
 python3-setuptools,
Rules-Requires-Root: no
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/chinese-team/galternatives.git
Vcs-Browser: https://salsa.debian.org/chinese-team/galternatives

Package: galternatives
Architecture: all
Depends:
 gir1.2-gdkpixbuf-2.0,
 gir1.2-gtk-3.0,
 python3-gi,
 ${misc:Depends},
 ${python3:Depends},
Recommends:
 pkexec,
 python3-xdg,
Description: graphical setup tool for the alternatives system
 A GUI to help the system administrator to choose what program
 should provide a given service.
 .
 This is a graphical front-end to the update-alternatives
 program shipped with dpkg.
